<h2>My Heroes</h2>

<div>
  <label for="new-movie">Movie name: </label>
  <input id="new-movie" #heroName />

  <!-- (click) passes input value to add() and then clears the input -->
  <button type="button" class="add-button" (click)="add(heroName.value); heroName.value=''">
    Add movie
  </button>
</div>

<ul class="movies">
  <li *ngFor="let movie of movies">
    <a routerLink="/detail/{{movie.id}}">
      <span class="badge">{{movie.id}}</span> {{movie.name}}
    </a>
    <button type="button" class="delete" title="delete movie"
      (click)="delete(movie)">x</button>
  </li>
</ul>
